<?xml version="1.0" encoding="UTF-8"?>
<Export generator="Cache" version="25">
  <Document name="vscode-snippets-yourId-yourSuffix.ZPM">
    <Module>
      <Name>vscode-snippets-yourId-yourSuffix</Name>
      <Version>1.0.0</Version>
      <Description>Install VS Code snippet files for use with intersystems-community.vscode-objectscript extension in server-side editing mode</Description>
      <Packaging>module</Packaging>
      <Dependencies>
        <ModuleReference>
          <Name>vscode-per-namespace-settings</Name>
          <Version>*</Version>
        </ModuleReference>
      </Dependencies>
      <SourcesRoot>src</SourcesRoot>
      <Resource Name="%Z.IPM.Bootstraps.Main.CLS" />
      <Invoke Class="%Z.IPM.Bootstraps.Main" Method="InstallSnippets" CheckStatus="true">
        <Arg>${root}src/snippets</Arg>
      </Invoke>
      <Invoke Class="%SYSTEM.OBJ" Method="Delete" CheckStatus="true" Phase="Configure" When="After">
        <Arg>%Z.IPM.Bootstraps.Main</Arg>
      </Invoke>
    </Module>    
  </Document>
</Export>